<nav class="main-navigation">
    <ul>
      <li><a href="{% url 'news:index' %}">Home</a></li>

      <!-- <li><a href="#">username</a></li>
      <li><a href="#">Logout</a></li>
      <li><a href="#">Login</a></li> -->
      {% if user.is_authenticated %}
        <li><a href="{% url 'users:Profile' %}">{{ request.user.username }}</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}

    </ul>
</nav>