{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div class="form-delete">
    <p>
        <a href="{% url 'news:index' %}">Go Back To list</a>
    </p>

    <form method="post">
        {% csrf_token %}
        <p>
            <button class="btn btn-danger">Are you sure you want to delete {{ object }}?</button>
        </p>
            
    </form>

</div>

{% endblock %}