
{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="form-item">
        <p>
            <a href="{% url 'news:index' %}">Go Back To list</a>
        </p>
        
    </div>

    
    <form action="" method="post">

    <div class="form-item">
        {% csrf_token %}
        {{ form.as_p }}
    </div>

    <div class="form-item">
        <p>
            <button type="submit" class="btn btn-info">Update</button>
        </p>
    </div>
    
    </form>
{% endblock %}
